<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Syllabus | GTU World</title>
  <link href='https://gtuworld.com/gtu-syllabus' rel='canonical'/>
  <meta content="GTU Syllabus 2022 for All Semester, All Subjects, & All Branches. Gujarat Technological University has released the latest syllabus for undergraduate and postgraduate courses for 2021-22 academic sessions." name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-90K51EMG00"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-90K51EMG00');
  </script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
        <span>GTU World</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/#about">About</a></li>
          <li><a class="nav-link scrollto active" href="/gtu-syllabus">Syllabus</a></li>
          <li><a class="nav-link scrollto" href="/gtu-papers">Papers</a></li>
          <li><a class="nav-link scrollto" href="/blog">Blog</a></li>
          <li><a class="nav-link scrollto" href="/recommendations">Recommendations</a></li>
          <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="/privacy-policy">Privacy Policy</a></li>
          <li><a class="getstarted scrollto" href="https://www.youtube.com/channel/UCWanfytCCZQd6-vEI8BNONQ?sub_confirmation=1" target="_blank">Subscribe</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Home</a></li>
          <li>Syllabus</li>
        </ol>
        <h2>GTU Syllabus</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <h1>Latest GTU Syllabus</h1><br>
        <form action="" method="post">
          <div class="form-group">
            <label for="code">Enter Subject Code</label>
            <input type="number" class="form-control" placeholder="Subject Code (for ex: 3130702)" name="code">
          </div>
          <input type="submit" class="btn btn-primary form-control" value="Search">
        </form>
      </div>
    </section>
    
    <!--  Response  -->
    {%if request.method=='POST'%}
    <div class="container">
      {%if message%} <h2>{{message}}!</h2> {%endif%}
    <embed src="{{syllabus_url}}" width="100%" height="2100px" />
    </div>
    {%endif%}
    
    <!--Content-->
    <div class="container">
        <p>GTU Syllabus 2022 for All Semester, All Subjects, & All Branches: Gujarat Technological University has released the latest syllabus for undergraduate and postgraduate courses for 2021-22 academic sessions.</p>
        <p>Before starting your exam preparations for the semester exams, you must have updated GTU 2021 syllabus as defined by the university. It has covered the complete mark distribution for theory & Practical Exams.</p>
        <p>This article has covered the detailed guide on GTU Syllabus 2022 for all branches and courses.</p>
        <p>Students can directly download the latest Gujarat Technological University Syllabus for BE, MBA, MCA, etc., from the official site.</p>
        <p>This tool is very helpful for you, you just need to enter the subject code and done, you got the latest syllabus in one click.</p>
    </div>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <h4>Our Newsletter</h4>
            <p>Enter your email address to subscribe to this blog and receive notifications of new posts by email.</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>GTU World</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>